<div class="container">
	<div class="row">
	<h2>新着記事一覧</h2>
		<div class="index_flex">
			<% @postarticles.each do |article| %>
				<div class="index_box">
					<% article.postarticle_images.first(1).each do |image| %>

					<p class="index_title">
					<%= attachment_image_tag image, :image, size: "200x200", fallback: "no_image.jpg"%></p>
					<% end %>
					<%= link_to article.title, postarticle_path(article), class: "index_title" %>
					<p>投稿日:<%= article.created_at.strftime('%Y/%m/%d') %></p>
				</div>
			<% end %>
		</div>
	</div>
</div>