<h2>ユーザー詳細</h2>
<div class="container">
	<div class="row">
		<div class="col-xs-3">
		 	<div class = "profile_image">
				<%= attachment_image_tag @user, :profile_image, size: "100x100", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
			</div>

			<table class="table">
				<tr>
					<th>name</th>
					<th><%= @user.name %></th>
				</tr>

				<tr>
					<th>introduction</th>
					<th><%= @user.introduction %></th>
				</tr>
			</table>

			<% if @user == current_user %>
				<tr>
			        <%= link_to '',edit_user_path(@user), class:"btn btn-default btn-lg btn-block glyphicon glyphicon-wrench" %>
			    </tr>
			<% end %>
		</div>
	</div>
</div>
