<h1>about</h1>
<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="about-left"></div>
        </div>
        <div class="col-5">
            <div class="about-right">
                <h4>ようこそ！</h4>
                <p>千葉市内のおすすめスポットをみんなで共有しましょう<p>
                <h4>投稿のポイント</h4>
                <p>1,千葉市内限定</p>
                <p>2,誰でも気軽にいけるところ</p>
                <p>3,誰も知らないような地味なところ大歓迎</p>
                <h4>このサイトの機能</p>
                <p>みんなの投稿を視ることができます！</p>
                <P>ログインすると、記事を投稿したり、お気に入りに追加できたりします</P>
                <p>あとは実際にいってみましょう！</p>
            </div>
        </div>
    </div>
</div>
