<h1>TOP</h1>


<div class="d-flex">
			<div>子要素1</div>
		    <div>子要素2</div>
		  	<div>子要素3</div>
		</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">box1</div>
    <div class="col-6">box2</div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">１</div>
    <div class="col-2">２</div>
    <div class="col-2">３</div>
    <div class="col-2">４</div>
    <div class="col-2">５</div>
    <div class="col-2">６</div>
  </div>
</div>