//showのスタイル

.postarticle_title_box{
	width: 100%;
	padding: 0.5px 1px;
    margin: 2px 0;
    border-bottom: solid 10px rgba(51,204,0,0.7);
}

.postarticle_title {
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:32px;
}

.show_image {
	margin-top:10 px;
}

.pstarticle_body{
	width: 100%;
	padding-top: 10px;
	border-top : solid 10px rgba(51,204,0,0.7);
}

.postarticle_image_box {
	width: 100%;
	margin-top: 10px;
	padding-bottom: 15px;
}

.add_postarticle_iamge{
	margin-top: 10px;
	margin-bottom: 10px;
}

.pstarticle_body_text{
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:21px;
}

.address_body{
	width: 100%;
	margin-top: 10px;
}

.postarticle_address_text{
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:14px;
}

//indexのcss

.index_title{
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	margin_bottom: 10px;
	border-bottom: solid 10px rgba(51,204,0,0.7);
}

.index_box {
	margin:20px;
	padding:10px;
	width:100%;
}


.article_title {
	display: block;
	width: 100%;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:24px;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.article_body{
	display: block;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:21px;
	line-height: 25px;
	width: 100%;
	height: calc( 25px * 5 );
	overflow: hidden;

}

.article_date{
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
}