.postarticle_title_box{
	width: 100%;
	padding: 0.5px 1px;
    margin: 2px 0;
    border-bottom: solid 10px rgba(255,60,0,0.9);
}

.postarticle_title {
	font-family:"Arial", "メイリオ";
	font-size:32px;
}

.pstarticle_body{
	width: 100%;
	margin-top: 10px;
}

.postarticle_image_box {
	width: 100%;
	margin-top: 10px;
	padding-bottom: 15px;
}

.pstarticle_body_text{
	font-family:"Arial", "メイリオ";
	font-size:21px;
}

.address_body{
	width: 100%;
	margin-top: 10px;
}

.postarticle_address_text{
	font-family:"Arial", "メイリオ";
	font-size:14px;
}


.index_box {
	width :50%;
	margin:10px;
	font-size:21px;
	width:100%;
}

.index-title {
	font-family:"Arial", "メイリオ";
	font-size:21px;
}