//newのスタイル
.post-text {
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:21px;
	margin-top: 10px;
}

.actions {
	margin-top:10px;
}

//showのスタイル
.postarticle-title-box {
	width:100%;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	margin-bottom: 10px;
	border-bottom: solid 5px rgba(51,204,0,0.7);
}

.show-article-body {
	margin-bottom: 10px;
}

.show-article-body-text {
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:21px;
}

.show_image {
	margin-top:10px;
	marfin-right: 10px;
	width:70%;
}

.show_image::before{
  content: '';
  display:block;
  padding-top:66%;
}

.add-postarticle-iamge-text{
	margin-top:15px;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:17px;
}

.postarticle-address{
	margin-top:25px;
}

.postarticle-address-text{
	margin-top:15px;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:17px;
}

.postarticle-data{
	margin-top:15px;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:14px;
}

//indexのcss

.index-title{
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	margin-bottom: 10px;
	border-bottom: solid 10px rgba(51,204,0,0.7);
}

.index-box {
	margin:20px;
	padding:10px;
	width:100%;
}

.index-image {
	width:300px;
	height:200px;
}

.index-image:hover {
	transform: scale(1.25, 1.25);
}


.article-title {
	display: block;
	width: 100%;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:24px;
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

.article-body{
	display: block;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:21px;
	line-height: 25px;
	width: 100%;
	height: calc( 25px * 5 );
	overflow: hidden;
}

.maps{
	width: 95%;
	height: 500px;
}

.bookmark-box {
	margin:25px 0;
}

.bookmark-image {
	width:300px;
	height:200px;
}

.bookmark-article-body {
	display: block;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	font-size:21px;
	line-height: 25px;
	width: 100%;
	height: calc( 25px * 10);
	overflow: hidden;
}


@media screen and (max-width:768px) {
.index_image {
	width:150px;
	height:100px;
}
}