// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_field {
	margin-top: 10px;
	margin-bottom: 10px;
}

.edit_text {
	font-size: 14px;
}


.table_title {
	width:25%;
	height: 30px;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	overflow: hidden;
}

.table_body {
	width:60%;
	height: 30px;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
	overflow: hidden;
}

.table_link {
	width:15%;
	height: 30px;
	font-family: 'Sawarabi Gothic','Arial', 'メイリオ';
}