<h2>ユーザー一覧</h2>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
		</div>

		<div class="col-xs-9">
			<table class="table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th colspan="5"></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= attachment_image_tag(user, :profile_image, size: "50x50", fallback: "no-image-mini.jpg") %></td>
						<td><%= user.name%></td>
						<td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
